<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a href="home1.html" class="navigation-links-navlink"><span>Home</span></a>
    <a href="home111.html" class="navigation-links-navlink1">
      <span>Über</span>
    </a>
    <a href="home11.html" class="navigation-links-navlink2">
      <span>Werke</span>
    </a>
    <a href="home111112.html" class="navigation-links-navlink3">
      <span>Rechtliches</span>
    </a>
    <a href="home1111.html" class="navigation-links-navlink4">
      <span>Kontakt</span>
    </a>
  </nav>
</div>
